# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*                       @leonas5555
crates/                 @leonas5555
docs/                   @leonas5555
.github/                @leonas5555
